{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}


{% block main %}
<div class="container">
    <h1>CSV to MIDI tool</h1>

    <p>Welcome to my CS50x final project. This web app takes an upload of a CSV file, plots the data, and give a MIDI
        file as output.</p>
    <p>The process of using sound to convey information about data is <a
            href="https://en.wikipedia.org/wiki/Sonification">Sonification</a>.</p>

    <h2>Data to Convert:</h2>

    <!-- Direct input, form textarea-->
    
    <form action="/" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Input Data</label>
            <textarea onkeyup="textCounter(this,'counter',1000);" id="formInput" name="formInput" class="form-control" rows="4" maxlength="1000"></textarea>
        </div>
        <p id="remainingC"></p>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>
{% endblock %}